@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  color: white;
}
li {
  padding: 0 1.3rem;
}
li:hover {
  color: #00c4f4;
  transition: 0.4s;
}
.svg-item {
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 164px);
  z-index: -1;
  background-image: url("../assets/banner_bg.jpg");

  height: calc(100% - 100px);
}
.svg-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  background-image: url("../assets/banner_shape.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 722px;
  z-index: -1;
}
.secondBanner {
  background-position: center;
  position: relative;
  background-image: url("../assets/banner_bg.jpg");
}
.second-banner {
  background: rgb(2, 0, 36);
  background: -moz-radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(7, 7, 93, 0.9023984593837535) 35%,
    rgba(7, 111, 133, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(7, 7, 93, 0.9023984593837535) 35%,
    rgba(7, 111, 133, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(7, 7, 93, 0.9023984593837535) 35%,
    rgba(7, 111, 133, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#076f85",GradientType=1);
}
@media (max-width: 991.98px) {
  .svg-item {
    height: calc(100% - 120px);
  }
  .banner-bg-two::before {
    height: 400px;
  }
}
@media (max-width: 1500px) {
  .svg-item {
    height: calc(100% - 115px);
  }
  .banner-bg-two::before {
    height: 600px;
  }
}
@media (max-width: 1199.98px) {
  .svg-item {
    height: calc(100% - 100px);
  }
  .banner-bg-two::before {
    height: 480px;
  }
}
@media screen and (max-width: 1024px) {
  li {
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid #eee;
  }
  a {
    font-size: 1.2rem;
  }
}
